html{
    height: 100%; /* used to set an element's height */
}
body{
    background-image: url('wave.jpeg'); /* use to put some images to background */
    background-size: 100% 100%; /* to set the background image balance*/
    font-family: Georgia, 'Times New Roman', Times, serif; /* font type */
}
#output{ 
    font-size: 13px;
}
span{
    color: rgb(175, 1, 1);/* to set the color of the text */
    white-space: nowrap;
    font-size: 17px; /* font size of the text */
}

.name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 110, 153, 0.932) ; /* background color of form */
    border-radius: 20px; /* To rounds the corners of an element's outer border edge */
    padding: 10px; /* used to generate space around an element's content inside of any defined borders */
    box-shadow: rgb(1, 139, 163) 0px 20px 30px -10px; /* to set the shadow color in the box */
    
    
}
input{
    border-bottom: 2px solid white; /* to set the buttom value */
    outline: none;
}
button{
    
    color: black; /* color for the text */
    padding: 2px 20px; /* used to generate space around an element's content inside of any defined borders  */
    border-radius: 50px solid white; /* To rounds the corners of an element's outer border edge */
    background: white;/* background color of the button */
    cursor: pointer;
}